:host {
  .ttt-demo-container {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    .box {
        border-bottom: 1px solid #aaa;
        border-right: 1px solid #aaa;
        width: 98px;
        height: 98px;
        display: flex;
        span {
            margin: auto;
        }
    }
  }
}
